.about{
    height: 60vh;
}
.about .container .about-content{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-item{
    width: 30%;
    padding: 2% 1%;
    margin: 10px 0;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(148, 148, 148);
}

.icon {
    color: var(--primaryColor);
    margin-bottom: 10px;
}

.about-item-title {
    margin-bottom: 10px;
    text-transform: capitalize;
    transition: 1s;
}

.about-item:hover .about-item-title,
.about-item-desc {
    color: rgb(226, 226, 226);
}

.about-item>.about-item-desc {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
    color: black;
    transition: 2s;
}
.about>.container>.about-content>.about-item>a {
    color: var(--primaryColor);
} 
